{
    "env": {
      "node": 1,
      "browser": 1
    },
    "globals": {
      "exampleGlobalVariable": true
    },
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ]
    },
    "plugins": [
    ]
  }